name: Mi primer workflow

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [10.x]
        env:
           OAS_NAME: Oscar Ayra
        steps:

        - uses: actions/checkout@main

        - run: ls -la
        - run: echo $OAS_NAME
